<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--프래그먼트-->
<head th:replace="fragments/header :: header">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/bodyHeader :: bodyHeader"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--메시지표현식-->
                <h2 class="text-black" th:utext="#{home.welcome(${user.userName})}">welcome</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--변수표현식, 리터럴대체, calendars유틸리티개체-->
                <p th:text="|Today is ${#calendars.format(today, 'YYYY-MM-dd')}|">13 February 2011</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Name
                        </div>
                    </div>
                    <div class="panel-body" th:object="${user}">
                        <span th:text="*{userName}">Sebastian</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Email
                        </div>
                    </div>
                    <div class="panel-body" th:object="${user}">
                        <span th:text="*{userEml}">abc@naver.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">
                        Menu
                    </a>
                    <a href="#" th:href="@{/literals}" class="list-group-item">Literals</a>
                    <a href="#" th:href="@{/operations}" class="list-group-item">Operations</a>
                    <a href="#" th:href="@{/conditional}" class="list-group-item">Conditional</a>
                    <a href="#" th:href="@{/attribute}" class="list-group-item">Setting Attribute Values</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/footer :: footer"/>
            </div>
        </div>
    </div>
</body>
</html>