<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <h2 th:utext="#{home.welcome}">welcome</h2>
        <table class="table">
            <thead>
                <th>index</th>
                <th>menuName</th>
                <th>menuUrl</th>
            </thead>
            <tbody>
                <tr th:object="${menu}">
                    <td><span th:text="*{menuId}"></span></td>
                    <td><span th:text="*{menuName}"></span></td>
                    <td><span th:text="*{menuUrl}"></span></td>
                </tr>
            </tbody>
        </table>
        <div th:replace="fragments/footer :: footer"/>
    </div>

</body>
</html>