<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <tbody>
        <tr th:object="${menu}">
            <td><span th:text="*{menuId}"></span></td>
            <td><span th:text="*{menuName}"></span></td>
            <td><span th:text="*{menuUrl}"></span></td>
        </tr>
        </tbody>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</body>
</html>