<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>

        <div class="list-group mt-2">
            <a href="#" class="list-group-item disabled">
                문자 리터럴
            </a>
            <a class="list-group-item text-primary" th:text="'working web application'"></a>
        </div>

        <div class="list-group mt-2">
            <a href="#" class="list-group-item disabled">
                숫자 리터럴
            </a>
            <a class="list-group-item">this year is <span class="text-primary" th:text="2022">9999</span></a>
        </div>
        <div class="list-group mt-2">
            <a href="#" class="list-group-item disabled">
                부울 리터럴
            </a>
            <a class="list-group-item" th:if="${literal.trueValue} == true">this is <span class="text-primary" th:text="${literal.trueValue}"></span></a>
            <a class="list-group-item" th:if="${literal.falseValue} == false">this is <span class="text-primary" th:text="${literal.falseValue}"></span></a>
        </div>
        <div class="list-group mt-2">
            <a href="#" class="list-group-item disabled">
                널 리터럴
            </a>
            <a class="list-group-item" th:if="${literal.nullValue} == null">this is <span class="text-primary" th:text="${literal.nullValue}"></span></a>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </div>
</body>
</html>
