<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group mt-2">
                <li class="list-group-item disabled">

                </li>
                <li class="list-group-item">

                </li>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div th:replace="fragments/footer :: footer"/>
        </div>
    </div>
</div>
</body>
</html>