<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group mt-2">
                <li class="list-group-item disabled">
                    Simple conditionals: “if” and “unless”
                </li>
                <li class="list-group-item">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-3">Id</th>
                            <th class="col-md-3">Name</th>
                            <th class="col-md-3">Amt</th>
                            <th class="col-md-3">Comments</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="prod : ${prods}">
                            <td th:text="${prod.getProdId()}">0</td>
                            <td th:text="${prod.getProdName()}">Product</td>
                            <td th:text="${prod.getProdAmt()}">0</td>
                            <td>
                                <span th:text="${#lists.size(prod.getComments())}">2</span> comment/s
                                <a href="comments.html"
                                   th:href="@{/conditionalEvaluationComments(prodId = ${prod.getProdId()})}"
                                   th:if="${not #lists.isEmpty(prod.getComments)}">view</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div th:replace="fragments/footer :: footer"/>
        </div>
    </div>
</div>
</body>
</html>