<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/bodyHeader :: bodyHeader"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group mt-2">
                    <li class="list-group-item disabled">
                        Conditional expressions
                    </li>
                    <li class="list-group-item">
                        <p th:class="(${conditional.evenValue} &gt; 1) ? 'text-primary' : 'text-danger'">th:class text-primary</p>
                        <p th:class="${conditional.evenBoolValue} ? 'text-danger' : 'text-primary'" >th:class text-danger</p>
                    </li>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group mt-2">
                    <li class="list-group-item disabled">
                        Default expressions (Elvis operator)
                    </li>
                    <li class="list-group-item">
                        <div th:object="${user}">
                            <p>Name : <span class="text-danger" th:text="*{userName} ?: '(no userName specified)'">no name</span></p>
                            <p>Email : <span class="text-danger" th:text="*{userEml} ?: '(no userEml specified)'">no email</span></p>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/footer :: footer"/>
            </div>
        </div>
    </div>
</body>
</html>